{% extends "base.html" %}
{% block content %}

<div class="container mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4">Update Member</h2>

    <form action="{% url 'update' user.id %}" method="POST" class="border p-4 rounded shadow-sm bg-light">
        {% csrf_token %}

        <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="password">
        </div>


        <button type="submit" class="btn btn-success w-100">Update Member</button>
    </form>
</div>



{% endblock content %}


